# Ignore datasets
data/*

# Ignore submission ZIP


# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
.env/
venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore large files
*.csv
*.xlsx
*.zip
